.header {
  background: #ffffff;
  .logo {
    background-image: url("../images/logos/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    a{
      display: block;
      height: 100%;
    }
  }
  .top_header{
    .container {
      @include flex(flex, center, space-between);
      .hamburger{
        display: none;
      }
      .search {
        position: relative;
        .search-input-container {
          position: absolute;
          display: none;
          padding: 0.6rem;
          background-color: $white;
          top: 2.95rem;
          right: 0;
          border: 1px solid $mercury;
          z-index: 1;
          .search-input {
            width: 15rem;
            height: 2rem;
            border: 1px solid $mercury;
          }
        }
        .search-button{
          width: 1rem;
          height: 1rem;
          cursor: pointer;
          background-image: url("../images/icons/search.svg");
          background-size: cover;
          background-repeat: no-repeat;
        }
        &.opened{
          .search-input-container {
            display: block;
          }
          .search-button{
            background-image: url("../images/icons/close.svg");
          }
        }
      }
    }
  }
  .bottom_header{
    .mobile-logo{
      display: none;
    }
    nav{
      .menu{
        li{
          position: relative;
          a {
            text-decoration: none;
            color: $black;
            display: inline-block;
            width: 100%;
            box-sizing: border-box;
          }
        }
        & > li{
          & > a{
            @include font(1rem, 500, 1rem);
          }
          .sub-menu{
            box-sizing: border-box;
            li{
              border-bottom: 1px solid $mercury;
              a{
                @include font(0.81rem, 400, 0.81rem);
                padding: 0.8rem 0;
                -ms-transition: padding 0.3s ease;
                -webkit-transition: padding 0.3s ease;
                transition: padding 0.3s ease;
                &:hover{
                  color: $dusty-gray;
                  padding-left: 0.5rem;
                }
              }
              &.has-child {
                & > a {
                  &:after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 1rem;
                    width: 0.33rem;
                    height: 0.5rem;
                    background-image: url("../images/icons/arrow-right.svg");
                    background-size: cover;
                  }
                }
              }
              &:last-child{
                border-bottom: 0;
              }
            }
          }
          &.has-child {
            & > a {
              &:after{
                content: "";
                width: 0.5rem;
                height: 0.25rem;
                background-image: url("../images/icons/arrow.svg");
                background-size: cover;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 1;
    -ms-transition: -ms-transform 0.3s ease;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    &.hide{
      transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
    }
    .top_header{
      border-bottom: 1px solid $mercury;
      .container {
        padding: 1.8rem 0 1.6rem;
        .hamburger{
          width: 1.7rem;
          height: 1.2rem;
        }
        .logo {
          width: 11.25rem;
          height: 1.66rem;
        }
      }
    }
    .bottom_header{
      border-bottom: 1px solid $mercury;
      nav{
        @include flex(flex, center, center);
        .menu{
          @include flex(flex, center, center);
          li{
            &:hover {
              & > .sub-menu{
                display: block;
              }
            }
          }
          & > li{
            & > a{
              padding: 1.25rem 1rem;
            }
            .sub-menu{
              display: none;
              width: 11rem;
              position: absolute;
              left: 0;
              top: calc(100% + 1px);
              background: $white;
              border: solid $mercury;
              border-width: 0 1px 1px 1px;
              padding: 0.75rem 1.25rem;
              .sub-menu {
                top: 0;
                left: 100%;
                border-width: 0;
              }
            }
            &.has-child {
              & > a {
                padding-right: 1.87rem;
                &:after{
                  content: "";
                  position: absolute;
                  right: 1rem;
                  top: 1.6rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .header {
    .top_header{
      .container {
        max-width: calc(100% - 40px);
        width: auto;
        padding: 2rem 0;
        .hamburger{
          width: 1.6rem;
          height: 1rem;
          display: block;
          background-image: url(../images/icons/hamburger.svg);
          cursor: pointer;
          background-size: contain;
          background-repeat: no-repeat;
        }
        .logo {
          width: 10rem;
          height: 1.5rem;
        }
      }
    }
    .bottom_header{
      position: fixed;
      background: #ffffff;
      height: 100%;
      z-index: 1;
      top: 0;
      left: 0;
      width: 20rem;
      -ms-transition: -ms-transform 0.2s;
      -webkit-transition: -webkit-transform 0.2s;
      transition: transform 0.2s;
      transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      .mobile-logo{
        @include flex(flex, center, space-between);
        padding: 2rem 1.25rem 1.625rem;
        border-bottom: 1px solid $mercury;
        .logo {
          width: 10rem;
          height: 1.5rem;
        }
        .close-hamburger{
          width: 1em;
          height: 1rem;
          display: block;
          background-image: url(../images/icons/close.svg);
          background-size: contain;
          cursor: pointer;
        }
      }
      nav{
        .menu{
          padding: 0.875rem 1.25rem;
          @include flex(flex, flex-start, center, column);
          li{
            width: 100%;
            position: relative;
            border-bottom: 1px solid $mercury;
            a {
              text-decoration: none;
              color: $black;
              display: inline-block;
            }
            .sub-menu{
              display: none;
              .sub-menu {
                margin-left: 15px;
              }
              li{
                a{
                  @include font(0.81rem, 400, 0.81rem);
                  padding: 0.8rem 0;
                }
              }
            }
            &.opened {
              & > .sub-menu {
                display: block;
              }
            }
          }
          & > li{
            & > a{
              @include font(1rem, 500, 1rem);
              padding: 1rem 0;
            }
            &.has-child {
              & > a {
                padding-right: 1.87rem;
                &:after{
                  content: "";
                  position: relative;
                  display: inline-block;
                  top: -3px;
                  left: 5px;
                }
              }
            }
          }
        }
      }
      &.opened{
        transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
      }
    }
  }
}
