body {
  font-family: 'Roboto', sans-serif;
}
.container {
  margin: 0 auto;
}
.white_overlay{
  position: fixed;
  z-index: 1;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($white, 0.6);
  display: none;
}
body.open_menu {
  .white_overlay{
    display: block;
  }
}
@media screen and (min-width: 1261px) {
  .container {
    width: 72.5rem;
  }
}
@media screen and (max-width: 1260px) and (min-width: 768px) {
  .container {
    width: 45rem;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: calc(100% - 40px);
    width: 335px;
  }
}
